$summary-height: 30px;

.accordionWrap {
  width: 100%;

  &.light,
  &.light button {
    color: #000000;
    background-color: var(--light-background-color);
  }
  &.dark,
  &.dark button {
    color: #ffffff;
    background-color: var(--dark-background-color);
  }

  .summary {
    position: relative;
    width: 100%;
    padding-left: 10px;
    min-height: $summary-height;
    height: auto;
    border: none;
    text-align: left;
    z-index: 2;

    .arrowIcon {
      position: absolute;
      bottom: 0;
      right: 10px;
      width: $summary-height * 0.7;
      height: $summary-height;
      transition: transform 0.3s ease-out;
      &.clockwise {
        transform: rotate(180deg);
      }
      &.counterclockwise {
        transform: rotate(0);
      }
    }
  }

  .details {
    margin: 5px 10px;
    overflow: hidden;

    .detailText {
      margin: 5px 0;
    }
  }
}

.horizon-light {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
}

.horizon-dark {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  margin: 0;
}
