// Static values
:root {
  --light-background-color: #ffffff;
  --dark-background-color: #121212;
  --light-hover-color: #eeeeee;
  --dark-hover-color: #444444;
  --light-disabled-text-color: #c0c0c0;
  --dark-disabled-text-color: #555555;

  --page-max-width-pc: 1200px;
  --page-max-width-tablet: 720px;
}

* {
  caret-color: transparent;
}

/* Light theme styles */
@media (prefers-color-scheme: light) {
  html,
  body {
    color: '#000000';
    height: 100dvh;
    background-color: var(--light-background-color);
  }
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
  html,
  body {
    color: #ffffff;
    height: 100dvh;
    background-color: var(--dark-background-color);
  }
}

/* Desktop Design */
@media (min-width: 1280px) {
  body {
    width: 100%;
    height: 100dvh;
  }
  * {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
}

/* Tablet Design */
@media (min-width: 769px) and (max-width: 1279px) {
  body {
    width: 100%;
    height: 100dvh;
  }
  * {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
}

/* Smartphone Design */
@media (max-width: 768px) {
  body {
    width: 100%;
    height: 100dvh;
  }
  * {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }
}

// Common styles
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.invisible-scroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

// Styles for text font
.text-sm {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.text-xl {
  font-size: 20px;
}

.text-2xl {
  font-size: 24px;
}

.text-base-bold {
  font-size: 16px;
  font-weight: bold;
}

.text-xl-bold {
  font-size: 20px;
  font-weight: bold;
}

.text-2xl-bold {
  font-size: 24px;
  font-weight: bold;
}

// Styles for button
.button-light {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.button-active-light {
  @extend .button-light;
  &:hover,
  &:focus {
    background-color: var(--light-hover-color);
  }
  &:disabled {
    color: var(--light-disabled-text-color);
    background-color: #ffffff;
  }
}

.button-dark {
  color: #ffffff;
  background-color: #000000;
  border: none;
}

.button-active-dark {
  @extend .button-dark;
  &:hover,
  &:focus {
    background-color: var(--dark-hover-color);
  }
  &:disabled {
    color: var(--dark-disabled-text-color);
    background-color: #000000;
  }
}
