.page-container {
  margin-bottom: 16px;
}

.description {
  margin-bottom: 16px;
}

.execButton {
  width: 50%;
  margin: auto;
}
.annotation {
  color: var(--mygo-anon-color);
}

.acquisition-mobile-annotation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.otaku-camera {
  position: fixed;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;

  .camera {
    width: 100%;
    height: 100%;
  }

  .image {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    bottom: 16px;
    object-fit: contain;
  }

  .camerafunction {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 64px;
    left: 50%;
    gap: 16px;
    transform: translateX(-50%);
  }

  .shutter {
    width: 48px;
    height: 48px;
    bottom: 64px;
    z-index: 2;
    border-radius: 50%;
    background-color: var(--apple-site-light-gray);

    &.light {
      border: 1px solid #000;
    }
    &.dark {
      border: 1px solid #fff;
    }
  }

  .canvas {
    display: none;
  }
}

.viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;

  img {
    max-width: 100%;
    max-height: calc(100% - 52px);
  }

  .downloadbutton {
    height: 36px;
    width: auto;
  }
}
