$carousel-item-height-landscape: 300px;
$carousel-item-height-portrait: 220px;

.linkIframe,
.linkImage {
  display: block;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.iframeDisabled {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.myfavCarousel_landscape {
  margin: 16px 0;
  height: $carousel-item-height-landscape;
}

.myfavCarousel_portrait {
  height: $carousel-item-height-portrait;
}

@mixin catchcopy-title($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}
.catchcopy {
  width: 100%;
  height: 100%;
  writing-mode: vertical-rl;
  display: flex;
  flex-direction: column;
  &.light {
    background-color: var(--apple-site-light-gray);
  }
  &.dark {
    background-color: var(--dark-overlay-color);
  }

  .title {
    @include catchcopy-title(120px, 150px);
    &.portrait {
      @include catchcopy-title(45px, 60px);
    }
    white-space: nowrap;
    overflow: hidden;
  }
  .subtitle {
    font-size: 45px;
    &.portrait {
      font-size: 20px;
    }
    margin: auto 0 16px 0;
  }
}
