$answer-height: 40px;

.slash {
  margin: 0 5px;
}

.mygo-quiz-card {
  margin: 16px;
  height: auto;
  position: relative;
  opacity: 0;
  border: 1px solid #ffffff;

  &.visible {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }

  .quiz-healine {
    position: relative;
    margin-bottom: 5px;
    padding-left: 5px;

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 30%;
      height: 1px;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 2px;
      left: 0;
      right: 30%;
      height: 1px;
    }
  }

  .quiz-healine-light {
    @extend .quiz-healine;
    text-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.5);

    &::before,
    &::after {
      background-color: #000000;
    }
  }

  .quiz-healine-dark {
    @extend .quiz-healine;
    text-shadow: 2px 2px 1.5px rgba(255, 255, 255, 0.5);

    &::before,
    &::after {
      background-color: #ffffff;
    }
  }

  .quiz-area-body {
    padding: 16px;
    height: auto;
    margin-bottom: $answer-height;
  }

  .answer-box {
    position: absolute;
    padding: 5px 16px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $answer-height;

    .answer {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .answer::before {
      position: absolute;
      content: '';
      height: 1px;
      left: 0;
      right: 0;
      top: 0;
    }

    .answer-0 {
      @extend .answer;
      &::before {
        background-color: var(--mygo-tomori-color);
      }
    }
    .answer-1 {
      @extend .answer;
      &::before {
        background-color: var(--mygo-anon-color);
      }
    }
    .answer-2 {
      @extend .answer;
      &::before {
        background-color: var(--mygo-rana-color);
      }
    }
    .answer-3 {
      @extend .answer;
      &::before {
        background-color: var(--mygo-soyo-color);
      }
    }
    .answer-4 {
      @extend .answer;
      &::before {
        background-color: var(--mygo-taki-color);
      }
    }

    .answer-button {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      border: none;
      transition:
        opacity 0.39s ease-out,
        transform 2s ease-out;

      &.visible {
        opacity: 0;
        transform: translateX(100%);
      }
    }

    .answer-button-0 {
      @extend .answer-button;
      background-color: var(--mygo-tomori-color);
    }
    .answer-button-1 {
      @extend .answer-button;
      background-color: var(--mygo-anon-color);
    }
    .answer-button-2 {
      @extend .answer-button;
      background-color: var(--mygo-rana-color);
    }
    .answer-button-3 {
      @extend .answer-button;
      background-color: var(--mygo-soyo-color);
    }
    .answer-button-4 {
      @extend .answer-button;
      background-color: var(--mygo-taki-color);
    }
  }
}

.gallery-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.gallery-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0.5;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.countdown {
  display: flex;
  flex-direction: column;
  text-align: center;

  .countdownView {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .scaleUp {
      transform: scale(3);
      animation: scaleUp 1s linear 4;
    }
  }
}

// quiz mygo
.quiz-area {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 560px;

  .quiz-count {
    text-align: center;
  }

  .quiz-count-landscape {
    @extend .quiz-count;
    font-size: 32px;
    margin-bottom: 32px;
  }

  .quiz-count-portrait {
    @extend .quiz-count;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .view-question {
    padding: 16px;
    height: 150px;
  }
}

.quick-press-btn {
  width: 120px;
  height: 100px;
  border: none;
  margin: auto;
  background-color: inherit;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.answer-board {
  margin: auto;
  margin-bottom: 16px;

  .input-viewer {
    margin-bottom: 16px;
    min-height: 24px;
    max-width: 250px;
    text-align: center;
  }

  span {
    position: relative;
  }

  span::before {
    position: absolute;
    content: '';
    height: 1px;
    left: -10%;
    right: -10%;
    bottom: 0;
  }

  .light::before {
    background-color: #000000;
  }

  .dark::before {
    background-color: #ffffff;
  }
}

.answer-submit-button {
  margin: auto;
  width: auto;
}

.judge-answer,
.result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  .result-disp-landscape {
    text-align: center;
    font-size: 32px;
  }

  .result-disp-portrait {
    text-align: center;
    font-size: 24px;
  }

  button {
    margin: auto;
  }

  .result-board {
    width: 75%;
    margin: 16px 0;
    padding: 16px;
    max-width: 540px;
    border: 1px solid var(--mygo-color);

    &.light {
      background-color: rgba(255, 255, 255, 0.7);
    }

    &.dark {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .score {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 16px;
    }
  }

  .mygoMember {
    position: fixed;
    z-index: -1;
    bottom: 0;
    object-fit: cover;
    overflow: hidden;
    height: 70%;
    &.tablet {
      height: 60%;
    }

    &.portrait {
      height: 50%;
    }
  }

  .img-anon {
    @extend .mygoMember;
    left: 0%;
  }

  .img-tomori {
    @extend .mygoMember;
    right: -10%;

    &.portrait {
      right: -25%;
    }
  }

  .img-rana {
    @extend .mygoMember;
    right: 0;
  }

  .img-soyo {
    @extend .mygoMember;
    bottom: -10%;

    &.landscape {
      bottom: -20%;
      left: 0;
    }

    &.tablet {
      bottom: -15%;
      left: 0;
    }
  }

  .img-taki {
    @extend .mygoMember;
    bottom: -10%;

    &.landscape {
      bottom: -20%;
      right: 0;
    }

    &.tablet {
      bottom: -15%;
      right: 0;
    }
  }
}
